* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-container {
  width: 90vw;
  margin: 0 3.5rem;
}
.logo {
  height: 60px;
  cursor: pointer;
}

.center {
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: #e0ffff;
  max-width: 330px;
  margin-bottom: 2rem;
}
.title {
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 800;
  padding-left: 8px;
}
.image {
  height: 300px;
  width: 330px;
}
.nav-section {
  display: flex;
  justify-content: space-between;
}

.form {
  padding-top: 1rem;
}
.label {
  font-size: 12px;
  letter-spacing: 1px;
}
.sort-input {
  width: 4rem;
  height: 1.3rem;
  padding-left: 2px;
  font-size: 14px;
  border-style: none;
  margin-left: 4px;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .section-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  .logo {
    height: 80px;
    width: 328px;
    cursor: pointer;
  }
  .form {
    padding-top: 1.3rem;
    padding-right: 1rem;
  }
  .label {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .sort-input {
    width: 5rem;
    height: 1.5rem;
    padding-left: 2px;
    font-size: 1rem;
    border-style: none;
    margin-left: 4px;
    cursor: pointer;
  }
  .image {
    height: 350px;
    width: 380px;
  }
  .center {
    max-width: 378px;
  }
}
